// Path to img - sample: #{$path-img}imgName
$path-img: "../img/";

$font-family: "Roboto", sans-serif;

$bg-primary: #131417;
$bg-secondary: #252830;
$bg-overlay: rgba(19, 20, 23, .5);

$color-white: #ffffff;
$color-onDark: #fafafa;
$color-accent: #eb5757;

$header-shadow: 0 4px 4px rgba(19, 20, 23, .4);